Repository MONEI/MONEI-WooCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: composer phpcbf --, wp-scripts lint-js --fix, wp-scripts lint-style --fix

.lintstagedrc.json:

{
  "*.php": [
    "composer phpcbf --"
  ],
  "*.{js,jsx}": [
    "wp-scripts lint-js --fix"
  ],
  "*.{css,scss}": [
    "wp-scripts lint-style --fix"
  ]
}

fix: move PHPStan to pre-commit to catch errors immediately
  .husky/pre-push
  .lintstagedrc.json
  CLAUDE.md
  DEVELOPER.md
Due: none

feat: update default PayPal style to include disableMaxWidth
  includes/admin/monei-paypal-settings.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --

feat: auto-format JSON style settings on save
  composer.json
  includes/admin/monei-apple-google-settings.php
  includes/admin/monei-bizum-settings.php
  includes/admin/monei-cc-settings.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --

feat: move orderdo and pre-authorize to global settings
  includes/admin/monei-apple-google-settings.php
  includes/admin/monei-bizum-settings.php
  includes/admin/monei-cc-settings.php
  includes/admin/monei-mbway-settings.php
  includes/admin/monei-multibanco-settings.php
  includes/admin/monei-paypal-settings.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiMBWay.php
  src/Gateways/PaymentMethods/WCGatewayMoneiMultibanco.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
  src/Settings/MoneiSettings.php
Due: composer phpcbf --

fix: fix redirect mode for payment methods and description field visibility
  assets/js/components/monei-cc-component.js
  assets/js/monei-block-checkout-bizum.js
  assets/js/monei-block-checkout-paypal.js
  assets/js/monei-settings.js
  includes/admin/monei-apple-google-settings.php
  includes/admin/monei-cc-settings.php
  src/Gateways/Blocks/MoneiBizumBlocksSupport.php
  src/Gateways/Blocks/MoneiPaypalBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiMBWay.php
  src/Gateways/PaymentMethods/WCGatewayMoneiMultibanco.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --, wp-scripts lint-js --fix

feat: add user-friendly localized error messages
  src/Core/container-definitions.php
  src/Gateways/Abstracts/WCMoneiPaymentGateway.php
  src/Gateways/Abstracts/WCMoneiPaymentGatewayComponent.php
  src/Gateways/Abstracts/WCMoneiPaymentGatewayHosted.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiMBWay.php
  src/Gateways/PaymentMethods/WCGatewayMoneiMultibanco.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
  src/Services/MoneiStatusCodeHandler.php
Due: composer phpcbf --

fix: resolve redirect mode and race condition issues for Bizum/PayPal
  assets/js/monei-block-checkout-bizum.js
  assets/js/monei-block-checkout-paypal.js
  includes/class-wc-monei-redirect-hooks.php
  src/Gateways/Abstracts/WCMoneiPaymentGatewayHosted.php
  tests/phpstan-bootstrap.php
Due: composer phpcbf --, wp-scripts lint-js --fix

refactor: configure PHPStan to scan actual includes files instead of stubs
  phpstan.neon
  tests/phpstan-bootstrap.php
Due: composer phpcbf --

feat: display payment method label in admin and customer views
  includes/class-wc-monei-ipn.php
  includes/class-wc-monei-payment-method-display.php
  includes/class-wc-monei-redirect-hooks.php
  src/Core/container-definitions.php
  src/Services/PaymentMethodFormatter.php
Due: composer phpcbf --

fix: add include for payment method display and fix PHPStan errors
  class-woocommerce-gateway-monei.php
Due: composer phpcbf --

fix: always include payment ID in card payment redirect URL
  assets/js/components/monei-cc-component.js
Due: wp-scripts lint-js --fix

fix: resolve infinite render loop and tokenization checkbox issues
  assets/js/components/monei-apple-google-component.js
  assets/js/components/monei-cc-component.js
  assets/js/monei-block-checkout-bizum.js
  assets/js/monei-block-checkout-paypal.js
  includes/admin/monei-apple-google-settings.php
  includes/admin/monei-bizum-settings.php
  includes/admin/monei-cc-settings.php
  includes/admin/monei-paypal-settings.php
  includes/class-wc-monei-redirect-hooks.php
  src/Gateways/Abstracts/WCMoneiPaymentGateway.php
  src/Gateways/Abstracts/WCMoneiPaymentGatewayComponent.php
Due: composer phpcbf --, wp-scripts lint-js --fix

fix: migrate onCheckoutSuccess to async/await pattern with proper response objects
  assets/js/components/monei-apple-google-component.js
  assets/js/components/monei-cc-component.js
  assets/js/monei-block-checkout-bizum.js
  assets/js/monei-block-checkout-paypal.js
Due: wp-scripts lint-js --fix

fix: resolve order-pay page issues for all payment methods
  assets/js/monei-apple-google-classic.js
  assets/js/monei-bizum-classic.js
  assets/js/monei-paypal-classic.js
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Gateways/Blocks/MoneiBizumBlocksSupport.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/Blocks/MoneiMBWayBlocksSupport.php
  src/Gateways/Blocks/MoneiMultibancoBlocksSupport.php
  src/Gateways/Blocks/MoneiPaypalBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --, wp-scripts lint-js --fix

fix: Apple Pay domain verification automatic registration
  src/Services/MoneiApplePayVerificationService.php
Due: composer phpcbf --

feat: add extensive debug logging to Apple Pay domain registration
  src/Services/MoneiApplePayVerificationService.php
Due: composer phpcbf --

refactor: clean up Apple Pay domain registration debug logging
  src/Services/MoneiApplePayVerificationService.php
Due: composer phpcbf --

fix: allow payment retry recovery for failed orders in classic checkout
  includes/class-wc-monei-redirect-hooks.php
  src/Gateways/Abstracts/WCMoneiPaymentGatewayComponent.php
Due: composer phpcbf --

chore: add PHPCS rule to enforce namespace use statements
  composer.json
  composer.lock
  phpcs.xml
Due: none

chore: add PHPCS rule to enforce use statements over fully qualified names
  includes/class-wc-monei-ipn.php
  src/Core/container-definitions.php
  src/Features/Subscriptions/WooCommerceSubscriptionsHandler.php
  src/Features/Subscriptions/YithSubscriptionPluginHandler.php
  src/Gateways/Abstracts/WCMoneiPaymentGatewayHosted.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
  src/Repositories/PaymentMethodsRepository.php
  src/Services/MoneiApplePayVerificationService.php
  src/Settings/MoneiSettings.php
Due: composer phpcbf --

refactor: separate classic and blocks checkout CSS files
  assets/css/monei-classic-checkout.css
  assets/css/monei-icons-classic.css
  class-woocommerce-gateway-monei.php
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Gateways/Blocks/MoneiBizumBlocksSupport.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/Blocks/MoneiMBWayBlocksSupport.php
  src/Gateways/Blocks/MoneiMultibancoBlocksSupport.php
  src/Gateways/Blocks/MoneiPaypalBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
Due: composer phpcbf --, wp-scripts lint-style --fix

fix: display error text in cardholder name validation
  .mcp.json
  assets/css/monei-classic-checkout.css
  assets/js/monei-cc-classic.js
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
Due: composer phpcbf --, wp-scripts lint-js --fix, wp-scripts lint-style --fix

refactor: standardize all localized params to camelCase
  assets/js/monei-apple-google-classic.js
  assets/js/monei-cc-classic.js
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
Due: composer phpcbf --, wp-scripts lint-js --fix

refactor: standardize all blocks params to camelCase
  assets/js/components/monei-apple-google-component.js
  assets/js/monei-block-checkout-bizum.js
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Gateways/Blocks/MoneiBizumBlocksSupport.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/Blocks/MoneiMBWayBlocksSupport.php
  src/Gateways/Blocks/MoneiMultibancoBlocksSupport.php
  src/Gateways/Blocks/MoneiPaypalBlocksSupport.php
Due: composer phpcbf --, wp-scripts lint-js --fix

refactor: convert Bizum/PayPal classic params to camelCase
  assets/js/monei-bizum-classic.js
  assets/js/monei-paypal-classic.js
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --, wp-scripts lint-js --fix

fix: prevent classic checkout CSS from loading on blocks checkout
  assets/css/monei-blocks-checkout.css
  src/Gateways/Abstracts/WCMoneiPaymentGateway.php
  src/Gateways/Abstracts/WCMoneiPaymentGatewayComponent.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
Due: composer phpcbf --, wp-scripts lint-style --fix

fix: conditionally render monei-text span in blocks checkout labels
  assets/css/monei-blocks-checkout.css
  assets/js/components/monei-cc-component.js
  assets/js/monei-block-checkout-bizum.js
  assets/js/monei-block-checkout-mbway.js
  assets/js/monei-block-checkout-multibanco.js
  assets/js/monei-block-checkout-paypal.js
Due: wp-scripts lint-js --fix, wp-scripts lint-style --fix

fix: add has_fields() method to CC gateway for component mode visibility
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
Due: composer phpcbf --

fix: prevent blocks detection from blocking scripts on order-pay pages
  src/Gateways/Abstracts/WCMoneiPaymentGateway.php
  src/Gateways/Abstracts/WCMoneiPaymentGatewayComponent.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
Due: composer phpcbf --

fix: use custom overlay class to prevent WooCommerce spinner
  assets/css/monei-blocks-checkout.css
  assets/js/components/monei-apple-google-component.js
  assets/js/components/monei-cc-component.js
  assets/js/monei-block-checkout-bizum.js
  assets/js/monei-block-checkout-paypal.js
Due: wp-scripts lint-js --fix, wp-scripts lint-style --fix

feat: add Prettier code formatter integration
  .github/workflows/create-package.yml
  .github/workflows/main.yml
  .lintstagedrc.json
  .mcp.json
  .prettierignore
  .prettierrc.js
  .release-it.json
  CLAUDE.md
  assets/js/components/monei-apple-google-component.js
  assets/js/components/monei-cc-component.js
  assets/js/monei-apple-google-classic.js
  assets/js/monei-bizum-classic.js
  assets/js/monei-block-checkout-bizum.js
  assets/js/monei-block-checkout-paypal.js
  assets/js/monei-paypal-classic.js
  assets/js/monei-settings.js
  composer.json
  package.json
Due: wp-scripts lint-js --fix

refactor: use React state for error handling in blocks payment methods
  assets/js/components/monei-apple-google-component.js
  assets/js/monei-block-checkout-bizum.js
  assets/js/monei-block-checkout-paypal.js
  tests/stubs/woocommerce-subscriptions-stubs.php
Due: composer phpcbf --, wp-scripts lint-js --fix

feat: add separate titles for Apple Pay and Google Pay with conditional display
  assets/js/components/monei-apple-google-component.js
  assets/js/monei-apple-google-classic.js
  includes/admin/monei-apple-google-settings.php
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
Due: composer phpcbf --, wp-scripts lint-js --fix

fix: prevent race conditions in payment processing with atomic locks
  class-woocommerce-gateway-monei.php
  includes/class-wc-monei-ipn.php
  includes/class-wc-monei-lock-helper.php
  includes/class-wc-monei-redirect-hooks.php
  tests/phpstan-bootstrap.php
Due: composer phpcbf --

refactor: remove locking mechanism and idempotency flag
  class-woocommerce-gateway-monei.php
  includes/class-wc-monei-ipn.php
  includes/class-wc-monei-lock-helper.php
  includes/class-wc-monei-redirect-hooks.php
  tests/phpstan-bootstrap.php
Due: composer phpcbf --

fix: use correct option key for order completion setting in redirect
  includes/class-wc-monei-redirect-hooks.php
Due: composer phpcbf --

fix: harden amount validation to prevent replay attacks
  includes/class-wc-monei-ipn.php
  includes/class-wc-monei-redirect-hooks.php
Due: composer phpcbf --

fix: move MONEI_MAIN_FILE constant to bootstrap file and fix type hints
  class-woocommerce-gateway-monei.php
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  woocommerce-gateway-monei.php
Due: composer phpcbf --

fix: improve payment component re-initialization and code quality
  .github/workflows/create-package.yml
  .github/workflows/main.yml
  .nvmrc
  assets/js/components/monei-cc-component.js
  assets/js/monei-apple-google-classic.js
  assets/js/monei-bizum-classic.js
  assets/js/monei-cc-classic.js
  assets/js/monei-paypal-classic.js
  includes/admin/monei-cc-settings.php
  includes/admin/monei-mbway-settings.php
  includes/admin/monei-paypal-settings.php
  includes/class-wc-monei-ipn.php
  package.json
  src/Features/Subscriptions/WooCommerceSubscriptionsHandler.php
  src/Gateways/Abstracts/WCMoneiPaymentGateway.php
  src/Gateways/Abstracts/WCMoneiPaymentGatewayComponent.php
  src/Gateways/Abstracts/WCMoneiPaymentGatewayHosted.php
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Gateways/Blocks/MoneiBizumBlocksSupport.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/Blocks/MoneiMBWayBlocksSupport.php
  src/Gateways/Blocks/MoneiMultibancoBlocksSupport.php
  src/Gateways/Blocks/MoneiPaypalBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiMBWay.php
  src/Gateways/PaymentMethods/WCGatewayMoneiMultibanco.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
  src/Services/MoneiApplePayVerificationService.php
  src/Settings/MoneiSettings.php
  yarn.lock
Due: composer phpcbf --, wp-scripts lint-js --fix

fix: update payment request amounts on cart changes in blocks checkout
  assets/js/components/monei-apple-google-component.js
  assets/js/monei-apple-google-classic.js
  assets/js/monei-block-checkout-paypal.js
Due: wp-scripts lint-js --fix
